* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  $primaryFont: "Roboto", sans-serif;
  $decoFont: "Playfair Display", serif;
  
  $blue100: #F7FAFF;
  $blue200: #D8E6FF;
  $blue300: #9DC2FF;
  $blue400: #2979FF;

  $grey100: #EFEFF2;
  $grey200: #CFD0DA;
  $grey300: #ADB1BF;
  $grey400: #6E738E;
  $grey500: #555A6F;
  $grey600: #46485A;
  $grey700: #3A3A44;

  $positive: #9AE6B4;
  $caution: #FBD38D;
  $negative: #FC8181;