* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  $primaryFont: "Roboto", sans-serif;
  $decoFont: "Playfair Display", serif;
  
  $blue100: #F7FAFF !important;
  $blue200: #D8E6FF !important;
  $blue300: #9DC2FF !important;
  $blue400: #2979FF !important;

  $grey100: #EFEFF2 !important;
  $grey200: #CFD0DA !important;
  $grey300: #ADB1BF !important;
  $grey400: #6E738E !important;
  $grey500: #555A6F !important;
  $grey600: #46485A !important;
  $grey700: #3A3A44 !important;

  $positive: #9AE6B4 !important;
  $caution: #FBD38D !important;
  $negative: #FC8181 !important;