@import "../../assets/_mixins.scss";

.storeHomeMain {
  display: flex;
  flex-direction: row;
  width: 100%;

  .greetingVideo {
    height: 100%;

    video {
        max-height: 100%;
      }
  }

  .storeContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      color: $grey300;
      font-size: 0.8rem;
      font-weight: 700;
    }

    h2 {
      color: $blue400;
      font-family: $decoFont;
      font-size: 4rem;
      font-weight: 100;
      text-align: center;
    }
  }
}
