@import "../../../assets/_mixins.scss";

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    height: 80px;
    background-color: rgba(66, 65, 63, 0.774)
};